.thing-form
    margin 20px 0

#banner
    border-bottom none
    margin-top -20px

#banner h1
    font-size 60px
    letter-spacing -1px
    line-height 1

.hero-unit
    background #4393B9
    color #F5F5F5
    padding 30px 15px
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.footer
    border-top 1px solid #E5E5E5
    margin-top 70px
    padding 30px 0
    text-align center

.navbar-text
    margin-left 15px

.inner-addon
    position  relative
    width  50%
    margin-left 25%

.inner-addon .glyphicon
    position  absolute
    padding  10px
    pointer-events  none

.left-addon .glyphicon
    left   0px

.right-addon .glyphicon
    right  0px

.left-addon input
    padding-left   30px

.right-addon input
    padding-right  30px

#map-canvas
    height 300px
    margin 10px

.slide-image
    width  100%

.carousel-holder
    margin-bottom  30px

.carousel-control .item
    border-radius  4px

.caption
    height  130px
    overflow  hidden

.caption h4
    white-space  nowrap

.thumbnail img
    width  100%

.ratings
    padding-right  10px
    padding-left  10px
    color  #d17581

.thumbnail
    padding  0

.thumbnail .caption-full
    padding  9px
    color  #333

footer
    margin  50px 0

body
    padding-top  70px;

.container
    width   100%

.holder
    margin-left 216px !important